
{% extends "layout.html" %}
{% block title %}始め方{% end %}
{% block content %}
<h2>Getting started(始め方)</h2>
<hr>
<h3>1.アドレスの取得</h3>
<p>公式のウォレット(<a href="">DLリンク</a>)をオススメします。</p>
<hr>
<h3>2.マイニングソフトのダウンロード</h3>
<p><a href="">CPU: cpuminer ver x.x.x</a></p>
<hr>
<h3>3.マイニングソフトの起動</h3>
<p>マイニングソフトがある階層でコマンドプロンプトを起動し、以下のようなコマンドを実行してください。<br>(例なので各自の環境に合わせてください)</p>
<p>cpuminer -a yespower -o stratum+tcp://example.com:3001 -u 1KRotMnQpxu3sePQnsVLRy3EraRFYfJQFR</p>
<hr>
<p>以下はポートの一覧です。</p>
<table id="port-diff">
  <tr>
    <th>Port</th>
    <th>Diff</th>
  </tr>
  <tr>
    <td>3001</td>
    <td>0.1</td>
  </tr>
  <tr>
    <td>3001</td>
    <td>0.1</td>
  </tr>
  <tr>
    <td>3001</td>
    <td>0.1</td>
  </tr>
</table>
{% end %}
