<!DOCTYPE html>
<html lang="ja">
<head>
 <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">-->
 <title>{% block title %}{% end %}</title>
 <meta charset="utf-8">
 <link rel="stylesheet" href="{{static_url('css/ress.css')}}">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 <link rel="stylesheet" href="{{static_url('css/style.css')}}">
</head>
<body>
  <header>
    <div id="header-nav">
      <div>
        <a href="/"><strong>mining.love</strong></a>
      </div>
      <div>
        <a href="/getting_started"><i class="fas fa-play"></i>&ensp;始め方</a>
      </div>
      <div>
        <a href="/stats"><i class="fas fa-clipboard-list"></i>&ensp;採掘状況</a>
      </div>
      <div>
        <a href="/news"><i class="fas fa-newspaper"></i>&ensp;お知らせ</a>
      </div>
      <div>
        <a href="/api"><i class="fas fa-code"></i>&ensp;API</a>
      </div>
    </div>
    <p id="important-news-red"></p>
    <p id="important-news-green"></p>
  </header>
  <div id="main-content-wrapper">
    <div id="main-content">
      {% block content %}
      {% end %}
    </div>
  </div>
  <footer>
    <p>This site is powered by <a href="https://github.com/takana-v/mining-love">mining-love</a> project and licensed under MIT license.</p>
    <p><i class="fab fa-twitter"></i><a href="https://twitter.com/takana__v">&ensp;@takana__v</a></p>

  </footer>
</body>
</html>
